h1 , p {
  text-align: center;
}

li:hover{
  background-color: chartreuse;

  transition: 0.5s;

  opacity: 0.7;
}

li:active{
  font-family:'Courier New', Courier, monospace;
}

ol {
  list-style: none;
}