h1{height: 65px;}
h1{color: orange;}
#lista{ background-color: orchid;}

h1{font-family: sans-serif;}
p{font-weight: 600;}
body{font-size: 16px;}
p{font-size: 48px;}

#amarelo{color: yellow;}
#vermelho{color: red;}
#marrom{color: brown;}
